<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" href="/img/logo01.png" type="image/x-icon">
    <title>| Login</title>

</head>

<body>
    <%- include('navbar') %>
        <section id="login">
            <div>
                <form class="loginForm" action="/login" method="post">
                    <h3>Login </h3>
                    <% if (messages.error){ %>
                        <span class="error">
                            <%= messages.error %>
                        </span>
                        <% } %>
                            <input type="text" name="username" placeholder="Enter Your Username">
                            <input type="text" name="password" placeholder="Enter Your Password">
                            <button>Login</button>
                            <p>Don't have an account? <a href="/register">Sign up for free</a></p>
                </form>
            </div>
        </section>
</body>

</html>